body{
    background-color: #124D91;
}

.user-box {
    background-color: #A1CDF4;
    width: 40%;
    height: 60%;
}

.button {
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #F6E5D5;
    background-color: #A9AFD1;
    border: none;
    border-radius: 10%;
  }
.button:hover {background-color: #B5B1B2}
