@import url('https://fonts.googleapis.com/css?family=Roboto');

#section-container {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
}
#class-btn {
    background: rgb(92, 132, 241);
    font-family: 'Roboto';
    font-weight: 600;
    height: 6vh;
    width: 10vw;
    margin: 10px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}
#btn-container {
    height:auto;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}